# {{ ansible_managed }}

tpe.log_floodburst = {{ kmod_tpe_log_floodburst }}
tpe.log_floodtime = {{ kmod_tpe_log_floodtime }}
tpe.log_max = {{ kmod_tpe_log_max }}
tpe.log = {{ '0' if kmod_tpe_log is defined and not kmod_tpe_log else '1' }}
tpe.log_verbose = {{ '0' if kmod_tpe_log_verbose is defined and not kmod_tpe_log_verbose else '1' }}
tpe.kill = {{ '1' if kmod_tpe_kill is defined and kmod_tpe_kill else '0' }}
tpe.hardcoded_path = {{ kmod_tpe_hardcoded_path|join(':') }}
tpe.trusted_apps = {{ kmod_tpe_trusted_apps|join(',') }}
tpe.paranoid = {{ '1' if kmod_tpe_paranoid is defined and kmod_tpe_paranoid else '0' }}
tpe.check_file = {{ '0' if kmod_tpe_check_file is defined and not kmod_tpe_check_file else '1' }}
tpe.strict = {{ '0' if kmod_tpe_strict is defined and not kmod_tpe_strict else '1' }}
tpe.dmz_gid = {{ kmod_tpe_dmz_gid }}
tpe.admin_gid = {{kmod_tpe_admin_gid }}
tpe.trusted_gid = {{ kmod_tpe_trusted_gid }} 
tpe.trusted_invert = {{ '1' if kmod_tpe_trusted_invert is defined and kmod_tpe_trusted_invert else '0' }}
tpe.xattr_soften = {{ '0' if kmod_tpe_xattr_soften is defined and not kmod_tpe_xattr_soften else '1' }}
tpe.softmode = {{ '1' if kmod_tpe_softmode is defined and kmod_tpe_softmode else '0' }}
tpe.lock = {{ '1' if kmod_tpe_lock is defined and kmod_tpe_lock else '0' }}
tpe.extras.ignore_softmode = {{ '1' if kmod_tpe_extras_ignore_softmode is defined and kmod_tpe_extras_ignore_softmode else '0' }}
tpe.extras.log = {{ '0' if kmod_tpe_extras_log is defined and not kmod_tpe_extras_log else '1' }}
tpe.extras.ps = {{ '1' if kmod_tpe_extras_ps is defined and kmod_tpe_extras_ps else '0' }}
tpe.extras.ps_gid = {{ kmod_tpe_extras_ps_gid }}
tpe.extras.restrict_setuid = {{ '1' if kmod_tpe_extras_restrict_setuid is defined and kmod_tpe_extras_restrict_setuid else '0' }}
tpe.extras.lsmod = {{ '0' if kmod_tpe_extras_lsmod is defined and not kmod_tpe_extras_lsmod else '1' }}
tpe.extras.proc_kallsyms = {{ '0' if kmod_tpe_extras_proc_kallsyms is defined and not kmod_tpe_extras_proc_kallsyms else '1' }}
tpe.extras.harden_ptrace = {{ '0' if kmod_tpe_extras_harden_ptrace is defined and not kmod_tpe_extras_harden_ptrace else '1' }}
tpe.extras.hide_uname = {{ '1' if kmod_tpe_extras_hide_uname is defined and kmod_tpe_extras_hide_uname else '0' }}

kernel.modules_disabled = {{ '1' if kmod_tpe_kernel_modules_disabled is defined and kmod_tpe_kernel_modules_disabled else '0' }}
kernel.dmesg_restrict = {{ '1' if kmod_tpe_kernel_dmesg_restrict is defined and kmod_tpe_kernel_dmesg_restrict else '0' }}
